
@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,700&display=swap');
body {
  margin: 0;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande" 
    "Lucida Sans", Arial, sans-serif !important;
}

html {
  scroll-behavior: smooth;
}



ul {
  list-style: none;
}

button {
  border: none;
}

button:focus {
  outline: none;
}

input:focus,
textarea:focus {
 outline: 2px solid #08d9d6
}

.hoverNav {
  @apply border-solid border-primary border-b-2;
}

.shadowF {
  box-shadow: 0px 4px 20px 0px #00000020;
}

.shadowE {
  box-shadow: 0px 4px 30px 0px #ffffff40;
}

.priceCard {
  box-shadow: 0px 25px 50px rgba(255, 255, 255, 0.07);
}


/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #08d9d6;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.pricingFont {
  font-family: 'Roboto', sans-serif;
}

.boz {
  /* filter: drop-shado(0px 25px 50px rgba(235, 106, 66, 0.15)); */
}

.profile {
  @apply rounded-full w-[60px];
}

.navbar{
  transition: 0.5s ease;
}

.mobileNav{
     animation: tosmooth 1s linear;
}

@keyframes tosmooth {
    
    from {
        transform: translateY(-100px);
    }to{
    transform: translateY(0);
         }

}

.ContactHeader{
  @apply text-primary text-xl lg:text-2xl
}



/* .CardBtn:before, .CardBtn:after {
        content:'';
        position: absolute;
        display: block;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
    }
    
    .CardBtn:before {
        transform: translate3d(-100%, 0, 0);
        background-color: white;
        border: 1px solid white;
        
        transition: transform 300ms ease-in-cubic;
    }
    
    .CardBtn:after {
        background-color: #08D9D6;
        color : black;
        border: 1px solid #ffd1d8;
        transform: translate3d(100%, 0, 0);
        
        transition: transform 300ms 300ms cubic-bezier(.16,.73,.58,.62);
    }
    
    Car:hover {
        &:before {
            transform: translate3d(0,0,0);
        }
        
        &:after {
            transform: translate3d(0,0,0);
        }
    }
} */



